[Unit]
# change description to match your app
Description=Restart Calc: Korpusová kalkulačka

[Service]
Type=oneshot
# change last argument to match the service you want to restart
ExecStart=/bin/systemctl restart calc

# vim: set ft=systemd:
