[Unit]
# change description to match your app
Description=Timer for Restart KOKS: Korpusová kalkulačka spolehlivosti

[Timer]
# pick a suitable time and period for restarting your app, preferably when
# nobody's using it -- e.g. every day at 4 am:
OnCalendar=*-*-* 4:00:00
# for more on systemd time expressions, see man 7 systemd.time; e.g. this is
# also possible (and a reasonable value):
# OnCalendar=weekly
# and this is one way of saying "every 10s" (useful for testing):
# OnCalendar=*-*-* *:*:00,10,20,30,40,50

[Install]
WantedBy=timers.target

# vim: set ft=systemd:
