/* 
 * Redefining Yeti stylesheet
 */

/* links */
a {
  color: #009ee0;
}
a:focus {
  color: #009ee0;
}

a:hover {
  color: #009ee0;
}

.example-text {
  font-size: 14px;
}

/* navigation */
.nav-pills > li.active > a:focus {
  background-color: #009ee0;
}

.nav-pills > li.active > a:hover {
  background-color: #009ee0;
}

.nav-pills > li.active > a {
  background-color: #009ee0;
}

/* sliders */
.irs .irs-bar {
  border-top: 1px solid #0088c1;
  border-bottom: 1px solid #0088c1;
  background: #0088c1;
}

.irs .irs-bar-edge {
  border: 1px solid #0088c1;
  background: #0088c1;
}

.irs .irs-single {
  background: #0088c1;
}

/* color boxes */
.alert-warning {
  background-color: #ea670c; /*orange*/
  border-color: #ff6e0a;
  font-size: 14px;
}

.alert-info a {
  color: #ffffff;
}  

.alert-info {
  background-color: #009ee0; /*blue*/
  border-color: #0088c1;
  font-size: 14px;
}

#ex {
  background-color: #ffffff; 
  border-color: #009ee0;
  color: black;
  font-size: 15px;
}

.alert-success {
  background-color: #57aB27; /*green*/
  border-color: #4B9123;
  font-size: 14px
}

/*SaRe*/
.has-error .form-control {
  border-color: #e2007a; /*magenta*/
}

.label-danger {
  background-color: #e2007a; /*magenta*/
}

.label-info {
  background-color: #009ee0; /*blue*/
}

.has-success .form-control {
  border-color: #57aB27; /*green*/  
}

.label-success {
  background-color: #57aB27; /*green*/  
}

.zTTRvalue {
  margin-bottom: 2em;
}

/*bookmark button*/
#\._bookmark_ {
  margin-top: 4em;
}